---
- name: Set credentials to access Zabbix Server API
  ansible.builtin.set_fact:
    ansible_user: "{{ zabbix_ansible_user }}"
    ansible_httpapi_pass: "{{ zabbix_ansible_password }}"

- name: Update configuration hosekeeper
  vars:
    ansible_network_os: community.zabbix.zabbix
    ansible_connection: httpapi
    ansible_httpapi_port: 80
    ansible_httpapi_use_ssl: false
    ansible_httpapi_validate_certs: false
    ansible_zabbix_url_path: "zabbix"
    ansible_host: "{{ zabbix_ansible_server }}"
  community.zabbix.zabbix_housekeeping:
    hk_events_mode: yes
    hk_events_trigger: 183d
    hk_events_service: 1d
    hk_events_internal: 1d
    hk_events_discovery: 1d
    hk_events_autoreg: 1d
    hk_services_mode: yes
    hk_services: 183d
    hk_audit_mode: yes
    hk_audit: 183d
    hk_sessions_mode: yes
    hk_sessions: 183d
    hk_history_mode: yes
    hk_history_global: yes
    hk_history: 90d
    hk_trends_mode: yes
    hk_trends_global: yes
    hk_trends: 183d
    compression_status: on
    compress_older: 7d
...